{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS 파일 예시 -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- Chart.js 같은 라이브러리 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- jQuery 같은 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'js/common.js' %}" defer></script>  <!-- Django 템플릿 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- 아이콘 -->
    <script src="https://unpkg.com/lucide@latest"></script>


    <!-- 🅰️ 폰트 정리 -->
    <!-- 한글 일정, 제목등에 사용-->
    <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet">
    <!-- 날짜, 숫자등에 사용 -->
    <link href="https://cdn.jsdelivr.net/npm/suit-webfont@1.0.0/suit.css" rel="stylesheet">
    <!-- 메모, 설명등에 사용-->    
    <link href="https://fonts.googleapis.com/css2?family=Cafe24+Surround+Air&display=swap" rel="stylesheet">
    <!-- 요일, 헤더에 사용-->
    <link href="https://cdn.jsdelivr.net/npm/gmarket-sans/css/gmarket-sans.css" rel="stylesheet">


</head>